{{if gt .DeleteTrackerID 0}}
<div hx-swap-oob="delete:#tracker-card-{{.DeleteTrackerID}}"></div>
{{end}}

{{if .ReplaceCard}}
{{if .DeleteTrackerID}}
<script>
    (function () {
        var node = document.getElementById('tracker-card-{{.DeleteTrackerID}}');
        if (!node && document && document.body) {
            document.body.dispatchEvent(new Event('trackersChanged'));
        }
    })();
</script>
{{end}}
{{if eq .ViewMode "list"}}
<article id="tracker-card-{{.ReplaceCard.ID}}" class="tracker-row tracker-card" hx-swap-oob="outerHTML:#tracker-card-{{.ReplaceCard.ID}}">
{{template "tracker_card_list_body" .ReplaceCard}}
</article>
{{else}}
<article id="tracker-card-{{.ReplaceCard.ID}}" class="tracker-card" hx-swap-oob="outerHTML:#tracker-card-{{.ReplaceCard.ID}}">
{{template "tracker_card_grid_body" .ReplaceCard}}
</article>
{{end}}
{{end}}

{{if .ReplaceCard}}
<script>
    (function () {
        var node = document.getElementById('tracker-card-{{.ReplaceCard.ID}}');
        if (!node && document && document.body) {
            document.body.dispatchEvent(new Event('trackersChanged'));
        }
    })();
</script>
{{end}}
{{if .PrependCard}}
{{if eq .ViewMode "list"}}
<article id="tracker-card-{{.PrependCard.ID}}" class="tracker-row tracker-card" hx-swap-oob="afterbegin:#cards-container-list">
{{template "tracker_card_list_body" .PrependCard}}
</article>
{{else}}
<article id="tracker-card-{{.PrependCard.ID}}" class="tracker-card" hx-swap-oob="afterbegin:#cards-container-grid">
{{template "tracker_card_grid_body" .PrependCard}}
</article>
{{end}}
{{end}}
{{if .PrependCard}}
<script>
    (function () {
        var listContainer = document.getElementById('cards-container-list');
        var gridContainer = document.getElementById('cards-container-grid');
        if (!listContainer && !gridContainer && document && document.body) {
            document.body.dispatchEvent(new Event('trackersChanged'));
        }
    })();
</script>
{{end}}
